/*********************  Body styles ******************** */
body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0; 
}

/*********************  Heading styles ******************** */
h1, h2 {
    text-align: center;
}

/*********************  Container styles ******************** */
.container {
    display: flex;
    justify-content: space-between;
    padding-right: 20px; 
}

/********************* Hidden class *********************/
.hidden {
    display: none !important;
}

/********************** Style for Traible Search link **********************/
.traible-search-link {
    color: #333; 
    text-decoration: none; 
    transition: color 0.3s ease;
}

.traible-search-link:hover {
    color: rgb(0, 162, 255);
    cursor: pointer;
}

/********************* Search container styles *********************/
.search-container {
    text-align: center;
    margin-bottom: 20px;
}

.search-container input[type=text] {
    padding: 10px;
    width: 300px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.search-container button {
    padding: 10px 20px;
    border: none;
    background-color: blue;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.search-container button:hover {
    background-color: rgb(0, 162, 255);
}

/********************* Column styles *********************/
.left-column, .right-column {
    overflow-y: auto;
    float: left;
    width: 48%;
    max-height: 600px;
    margin: 0 1%;
}

.results-container {
    margin-top: 20px;
}

/********************* PDF and Results styles *********************/
#pdf-results a, #results a, #tk-results a {
    display: block;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
    margin-bottom: 10px;
    text-decoration: none;
    color: #333;
}

#pdf-results a:hover, #results a:hover, #tk-results a:hover {
    background-color: #f0f0f0;
}

.scrollable {
    overflow-y: auto;
}

/********************* Traible Knowledge Forum styles *********************/
#forum-form {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
}

#forum-form h2 {
    margin-top: 0;
}

#forum-form label {
    display: block;
    margin-bottom: 5px;
}

#forum-form input[type="text"],
#forum-form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#forum-form button {
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#forum-form button:hover {
    background-color: darkblue;
}

#thank-you-message, #name, #problem-description, #solution {
    font-family: 'Times New Roman', Times, serif;
}

/********************* Styles for the clickable keyword headings ***********************/
.keyword-heading {
    cursor: pointer;
    color: blue; /* Bootstrap primary color for a nice blue */
    text-decoration: none;
    font-weight: bold;
    margin: 10px 0;
    transition: color 0.3s, transform 0.3s;

    display: block;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
    margin-bottom: 10px;
}

.keyword-heading:hover {
    color: rgb(0, 162, 255); /* Darker blue on hover */
    background-color: #f0f0f0;
}

/* Styles for the keyword results container */
.keyword-results {
    margin-left: 20px;
    margin-bottom: 10px;
    border-left: 2px solid blue;
    padding-left: 10px;
}

/* General container styles */
.results-container {
    margin-top: 20px;
}


/* Button styling */
#upload-button, button[type="submit"] {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: blue;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 10px;
}

#upload-button:hover, button[type="submit"]:hover {
    background-color: rgb(0, 162, 255);
}

/* Modal styling */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

/* Modal content */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Close button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* File input styling */
#file-input {
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    cursor: pointer;
    background-color: #ffffff;
    margin-bottom: 10px;
}

/* Form styling */
#upload-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/********************** Loading Bar ********************/

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#loading-container {
    display: none;
    margin-top: 20px;
}

progress {
    width: 100%;
    height: 30px;
}

#progress-text {
    text-align: center;
    margin-top: 10px;
}

/* Dropdown container */
.select-container {
    text-align: left;
    margin-bottom: 20px;
}

/* Dropdown select */
#pdf-title-dropdown {
    padding: 10px;
    width: 240px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-family: 'Times New Roman', Times, serif;
    display: inline-block;
    cursor: pointer;
    transition: border-color 0.3s ease;
}

/* Dropdown select hover and focus */
#pdf-title-dropdown:hover,
#pdf-title-dropdown:focus {
    border-color: rgb(0, 162, 255);
}

/* Dropdown options */
#pdf-title-dropdown option {
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
}
