/*********************  Body styles ******************** */
body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0; 
}

/*********************  Heading styles ******************** */
h1, h2 {
    text-align: center;
}

/*********************  Container styles ******************** */
.container {
    display: flex;
    justify-content: space-between;
    padding-right: 20px; 
}

/********************* Hidden class *********************/
.hidden {
    display: none;
}

/********************** Style for Trible Search link **********************/
.tribble-search-link {
    color: #333; 
    text-decoration: none; 
    transition: color 0.3s ease;
}

.tribble-search-link:hover {
    color: rgb(0, 162, 255);
    cursor: pointer;
}

/********************* Search container styles *********************/
.search-container {
    text-align: center;
    margin-bottom: 20px;
}

.search-container input[type=text] {
    padding: 10px;
    width: 300px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.search-container button {
    padding: 10px 20px;
    border: none;
    background-color: blue;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.search-container button:hover {
    background-color: rgb(0, 162, 255);
}

/********************* Column styles *********************/
.left-column, .right-column {
    overflow-y: auto;
    float: left;
    width: 48%;
    max-height: 600px;
    margin: 0 1%;
}

.results-container {
    margin-top: 20px;
}

/********************* PDF and Results styles *********************/
#pdf-results a, #results a, #tk-results a {
    display: block;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
    margin-bottom: 10px;
    text-decoration: none;
    color: #333;
}

#pdf-results a:hover, #results a:hover, #tk-results a:hover {
    background-color: #f0f0f0;
}

.scrollable {
    overflow-y: auto;
}

/********************* Trible Knowledge Forum styles *********************/
#forum-form {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
}

#forum-form h2 {
    margin-top: 0;
}

#forum-form label {
    display: block;
    margin-bottom: 5px;
}

#forum-form input[type="text"],
#forum-form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#forum-form button {
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#forum-form button:hover {
    background-color: darkblue;
}

#thank-you-message, #name, #problem-description, #solution {
    font-family: 'Times New Roman', Times, serif;
}
