<!DOCTYPE html> 
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trible</title>
</head>
<body>
    <!-- Heading -->
    <h1 id="top">Trible Search</h1>
    
    <!-- Label for input field -->
    <label for="keywords">Enter Keywords (comma-separated):</label><br>

    <!-- Input field for entering keywords -->
    <input type="text" id="keywords" name="keywords"><br><br>

    <!-- Button to trigger keyword search -->
    <button onclick="searchKeywords()">Search</button><br><br>

    <!-- Division to display search results -->
    <div id="results">
    </div>

    <!-- Link to JavaScript file for client-side functionality -->
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>

    
</body>
</html>
