<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trible</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.4.0/dist/confetti.browser.min.js"></script>
</head>
<body>
    <h1 id="top"><a href="/" class="tribble-search-link">Trible Search</a></h1>

    <div class="search-container">
        <input type="text" id="keywords" name="keywords" placeholder="Enter Keywords (comma-separated)">
        <button onclick="searchKeywords()">Search</button>
        <button onclick="openForum()">Submit a Problem</button>
    </div>

    <div class="container">
        <div class="left-column scrollable">
            <h2 id="pdf-results-heading" class="hidden"><a href="/" class="tribble-search-link">PDF Results</a></h2>
            <div id="pdf-results">
                <div id="search-info"></div>
                <div id="results"></div>
            </div>
        </div>
        
        <div class="right-column scrollable">
            <h2 id="trible-knowledge-heading" class="hidden">Trible Knowledge</h2>
            <div id="tk-results" class="results-container"></div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>
</html>

